{% extends 'Base/base.html' %}
{% block contenido %}
<div class="container h-100" id="Container-body">
    <div class="d-flex justify-content-center h-100">
        <div class="user_register_card" style="width:70%;">
            <p class="text-style">¿Ha olvidado su contraseña? Ingrese su email y le enviaremos las instrucciones para reestablecerla</p>
            {% include 'includes/form_errors.html' %}
            <form method = "POST"> {% csrf_token %}
                {{form.as_p}}
                <button  name="button" type="submit" class="btn login_btn">Enviar</button>
            </form>
        </div>
    </div>
</div>

{% endblock contenido %}

