{% extends 'Base/base.html' %}
{% block contenido %}
<div class="container h-100" id="Container-body">
    <div class="d-flex justify-content-center h-100">
        <div class="user_register_card" style="width:70%;">
        <h3 class="text-style"> Recuperacion de contraseña enviada </h3>
        <p class="text-style"> Le hemos enviado por mail las instrucciones para recuperar su contraseña, las recibira en breve</p>
        <p class="text-style"> En caso de no recibirlas asegurese de ingresar el email correcto o revisar su carpeta de spam </p>
        </div>
    </div>
</div>

{% endblock contenido %}

