{% extends 'Base/base.html' %}
{% block contenido %}
<div class="container h-100" id="Container-body">
    <div class="d-flex justify-content-center h-100">
        <div class="user_register_card" style="width:70%;">
            {% include 'Includes/form_errors.html' %}
            <form method = "POST" enctype='multipart/form-data'> {% csrf_token %}
                <h4 class="text-style"> Edite sus datos </h4>
                {{form.as_p}}
                <button  name="button" type="submit" class="btn login_btn">Editar perfil</button>
            </form>
        </div>
    </div>
</div>

{% endblock contenido %}




