{% extends 'Base/base.html' %}

{% block contenido %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
          {{post.categoria}}
        </h3>
        <div class="blog-post" id="Letra-post">
          <h2 class="blog-post-title">{{post.titulo}}</h2>
          <p class="blog-post-meta">{{post.publicado}}</p>

          <p>{{post.excerpt}}.</p>
          <hr>
            <div>
              {{post.contenido|safe}}
            </div><br>
        </div><!-- /.blog-post -->

        <div>
          <a class="btn-card" style="padding:10px;margin-bottom:10px;"  href="{% url 'blog:blog_inicio' %}">Volver Atras</a>
          {% if user.is_authenticated %}
            {% if user.id == post.autor.id or user.is_superuser%}
          <a class="btn-card" style="padding:10px;margin-bottom:10px;" href="{% url 'blog:blog_editar' post.pk %}">Editar</a>
          <a class="btn btn-danger"  href="{% url 'blog:blog_eliminar' post.pk %}">Borrar</a>
            {% endif %}
          <form action= "{% url 'blog:post_like' post.pk %}" method= "POST"> {% csrf_token %}
            {% if post_is_liked %}
              <button type= "submit" name="post_id" class="btn-card" style="padding:10px;margin-bottom:10px;float:right;" value = "{{post.id}}">No me gusta</a>
            {% else %}
            <button type= "submit" name="post_id" class="btn-card" style="padding:10px;margin-bottom:10px;float:right;" value = "{{post.id}}">Me gusta</a>
            {% endif %}
            <br/>{{post.like_count}}
          </form>
          {% endif %}
          
        </div>


      </div><!-- /.blog-main -->

      <aside class="col-md-4 blog-sidebar">
        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center" id="perfil">
          <div class="card p-4" id="card-perfil">
              <div class=" image d-flex flex-column justify-content-center align-items-center">
                 <button class="btn btn-light"> <img src="{{post.autor.imagen.url}}" height="100" width="100" /></button>
                <span class="name mt-3">{{post.autor}}</span> 
                  <div class="text mt-3" style="width:90%"> <span> {{post.autor.resumen}}</span> </div>
                  <div class=" px-2 rounded mt-4 date "> <span class="join">Miembro desde {{post.autor.date_joined|date:"M d, Y" }}</span> </div>
              </div>
          </div>
      </div>
      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->
  </main><!-- /.container -->
    <hr> <!-- the comment box -->
    <form method = "POST"> {% csrf_token %}
      {{form.as_p}}

    <div  id="comment-box">
  
    </div>
    <script src="https://apis.google.com/js/plusone.js">
    </script>
    <hr>
  </form>
  <h4 style="margin-left:18%"><i class="fa fa-paper-plane-o"></i>
    {% if user.is_authenticated %}
      <button id="comentario-nuevo" class="btn-card" type="button" style="padding:10px;margin-bottom:10px;" name="button">Deja un comentario</button></h4>
    {% else %}
    <button class="btn-disable" type="button" style="padding:5px;margin-bottom:10px;" name="button" href= "{% url 'usuario:login' %}">Inicie sesion para comentar</button></h4>
    {% endif %}


<form role="form">
  
      {% for comentario in object.comentarios.all %}
        <p>
          <div class="card-body bg-light" id="comment-box">
          <h3><i class="fa fa-comment"></i> {{comentario.nombre}} dice: </h3>
          <small>{{comentario.publicado}}</small>
        </p>
        {{comentario.contenido}} <br>
        {% if user.is_authenticated %}
            {% if user.id == comentario.nombre.id or user.is_superuser%}
              <a style="float:right;" class="btn btn-danger"  href="{% url 'blog:comentario_eliminar' comentario.pk %}">Borrar</a> <br>
          {% endif %}
        {% endif %}
      </div>
      {% endfor %}
 

{% endblock contenido %}
{% block extrajs %}
    
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
  
</div> 
<script type="text/javascript">
$(document).ready(function() {

    $("#comentario-nuevo").modalForm({
        formURL: "{% url 'blog:comentario_nuevo' post.pk %}"
    });

});
</script>
{% endblock extrajs %}

<!--<!--$(document).ready(function() {

  $("#comentario-eliminar").modalForm({
      formURL: "{% url 'blog:comentario_eliminar' comentario.pk %}"
  });

}); -->