{% include 'base/header.html' %}
{% load static %}

        <section class="details-card">
            {% block contenido %}
            {% endblock contenido %}
            
        </section>
        <section class="footer-general">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum porta placerat. Nam at tempor urna. In vestibulum faucibus neque, at vestibulum mauris ultrices accumsan. Nam sit amet augue ac mauris suscipit vulputate. Proin mollis lorem non lorem tempus, sed porta lectus posuere. Ut a sem ac sem blandit efficitur ut in dui. Integer at orci ante. Integer nibh mi, tempus sollicitudin dignissim et, cursus in massa. Nulla laoreet vitae metus eu pulvinar. Pellentesque iaculis scelerisque augue, eget suscipit justo tincidunt id. Vivamus posuere, est sed rhoncus facilisis, lacus augue mattis justo, vitae pharetra neque ex non metus. Vivamus fermentum molestie posuere. Integer fringilla lacinia diam in fermentum. Nunc convallis, felis laoreet posuere lacinia, ipsum urna bibendum ligula, a congue nunc enim imperdiet massa.
            </div>
            <a class="scroll_up_button" href="#" style="text-align: center;;color:grey;">Ir Arriba</a>
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
        {% block extrajs %}
        {% endblock extrajs %}

    </body>
</html>