{% include 'base/header.html' %}
        <section class="details-card">
            {% block contenido %}
            {% endblock contenido %}
            
        </section>
        <section class="footer-general">
            <div>
                #nombre del proyecto 2021 / copyright / datos de contacto, etc
            </div>
            <a class="scroll_up_button" href="#" style="margin-left:50%;color:grey;">Ir Arriba</a>
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>