{% include 'base/header.html' %}
        <section class="details-card">
            {% block contenido %}
            {% endblock contenido %}
            
        </section>
        <section class="footer-general">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus nunc a est malesuada efficitur vel eu nisi. Etiam condimentum aliquet lacus vel faucibus. Curabitur hendrerit dictum leo, nec convallis magna ornare a. Duis fringilla nibh non lectus tempus, nec eleifend sem luctus. Donec tempus ante eu lacus convallis sollicitudin. Curabitur lectus justo, finibus id blandit non, finibus at eros. Aenean sodales, ipsum sollicitudin facilisis pellentesque, nulla dolor tempus purus, in elementum mauris est eget sapien. Donec non nibh fermentum, ultrices tortor sed, cursus velit. Aliquam bibendum a lacus a sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse libero nisi, luctus eu porta eget, auctor quis nisi. Integer et metus ut quam egestas placerat. Donec tortor risus, efficitur sed lacinia ac, venenatis vitae libero. Mauris id augue lorem. Suspendisse potenti. 
            </div>
        </section>
    </body>
</html>