<!DOCTYPE html>
<html lang="es">
    {% block css %}
        {% include "base/base-css.html" %}
    {% endblock css %}


    <body>
        <header>
            <div id= "header-list">
                <ul >
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    <li><a href="{% url 'blog:blog_inicio' %}">Blog</a></li>
                    <li><a href="">Contacto</a></li>
                    {%if user.is_authenticated %}   
                        <a href= "{% url 'logout' %}" class= "btn-card" style= "float: right"> Cerrar sesion</a><br>
                    {%else%}
                    <a href= "{% url 'login' %}" class= "btn-card" style= "float: right"> Iniciar sesion</a>
                    {%endif%}
                </ul>
        </header>