{% extends 'Base/base.html' %}
{% block contenido %}
<div class="container h-100"  id="Container-body">
    <div class="d-flex justify-content-center h-100">
        <div class="user_register_card" style="width:100%">
            {% include 'Includes/form_errors.html' %}
            <form method="post">{% csrf_token %}
                <div class="alert alert-danger" role="alert" style=>
                    ¿Seguro desea eliminar el siguiente comentario: {{object.contenido}}? </br>
                    Una vez eliminado no se puede recuperar
                </div>
                {{ form }}
                <button style="float:center;" type="submit" class="btn btn-danger">Eliminar</button>
                <a href= "{% url "blog:post_detalle" object.post.pk %}" type="button" class="btn btn-secondary" >Cancelar </a>
            </form>
        </div>
    </div>
</div>

{% endblock contenido %}



